<ion-tab-bar class="customer-tab-bar" data-testid="e2e-customer-tabs">
  <ion-tab-button tab="dashboard" routerLink="/dashboard" routerLinkActive="tab-selected" data-testid="e2e-tab-dashboard">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Accueil</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="purchases" routerLink="/purchases" routerLinkActive="tab-selected" data-testid="e2e-tab-purchases">
    <ion-icon name="receipt-outline"></ion-icon>
    <ion-label>Achats</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="tontines" routerLink="/tontines" routerLinkActive="tab-selected" data-testid="e2e-tab-tontines">
    <ion-icon name="albums-outline"></ion-icon>
    <ion-label>Tontine</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="catalog" routerLink="/catalog" routerLinkActive="tab-selected" data-testid="e2e-tab-catalog">
    <ion-icon name="bag-add-outline"></ion-icon>
    <ion-label>Commander</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="profile" routerLink="/profile" routerLinkActive="tab-selected" data-testid="e2e-tab-profile">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Profil</ion-label>
  </ion-tab-button>
</ion-tab-bar>
