<ion-header>
  <ion-toolbar>
    <ion-title>Logs</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearLogs()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="copyLogs()">
        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <pre>{{ logs }}</pre>
</ion-content>
