<!-- <div class="chart-wrapper">
  <div class="chart-container">

    <div class="chart-item" style="margin-bottom: 40px;">
      <apx-chart 
        [series]="chartOptions.series" 
        [chart]="chartOptions.chart" 
        [dataLabels]="chartOptions.dataLabels" 
        [xaxis]="chartOptions.xaxis" 
        [fill]="chartOptions.fill" 
        [yaxis]="chartOptions.yaxis" 
        [title]="chartOptions.title">
      </apx-chart>
    </div>


    <div class="chart-item">
      <apx-chart 
        [series]="lineChartOptions.series" 
        [chart]="lineChartOptions.chart" 
        [dataLabels]="lineChartOptions.dataLabels" 
        [xaxis]="lineChartOptions.xaxis" 
        [fill]="lineChartOptions.fill" 
        [yaxis]="lineChartOptions.yaxis" 
        [title]="lineChartOptions.title">
      </apx-chart>
    </div>
  </div>
</div> -->
