<ion-header>
  <ion-toolbar>
    <ion-title>Nouvelle Demande Tontine</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()" [disabled]="isSubmitting">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <div class="items-list">
      <div class="item-row" *ngFor="let item of items; let i = index">
        <ion-item lines="none" class="article-input">
          <ion-select
            label="Article"
            labelPlacement="floating"
            [value]="item.article.id || ''"
            (ionChange)="onArticleChange(i, $event)"
            [disabled]="isSubmitting || availableArticles.length === 0"
          >
            <div slot="content">
              <ion-searchbar debounce="300" (ionInput)="onSearch($event)"></ion-searchbar>
              <ion-list>
                <ion-select-option *ngFor="let article of availableArticles" [value]="article.id">
                  {{ article.name }} (ID: {{ article.id }})
                </ion-select-option>
              </ion-list>
              <ion-infinite-scroll (ionInfinite)="loadArticles($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll>
            </div>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="qty-input">
          <ion-input
            type="number"
            label="Qté"
            labelPlacement="floating"
            [(ngModel)]="item.quantity"
            [disabled]="isSubmitting"
            min="1"
          ></ion-input>
        </ion-item>

        <ion-button
          fill="clear"
          color="danger"
          (click)="removeItem(i)"
          [disabled]="isSubmitting || items.length === 1"
          class="remove-btn"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <ion-button expand="block" fill="outline" (click)="addItem()" [disabled]="isSubmitting" class="add-btn">
      <ion-icon name="add-outline" slot="start"></ion-icon>
      Ajouter un article
    </ion-button>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      class="submit-btn"
      (click)="onSubmit()"
      [disabled]="!isValid || isSubmitting"
    >
      <ion-spinner *ngIf="isSubmitting" name="crescent"></ion-spinner>
      <span *ngIf="!isSubmitting">Créer la demande</span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
