<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-title>Localités</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionViewWillEnter()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="(localities$ | async) as localities">
    <ng-container *ngIf="localities.length > 0; else emptyState">
      <ion-item *ngFor="let locality of localities">
        <ion-label>
          <h2>{{ locality.name }}</h2>
          <p>{{ locality?.createdAt | date:'dd/MM/yyyy HH:mm' }}</p>
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-template #emptyState>
      <div *ngIf="loading$ | async" class="ion-text-center ion-padding-top">
        <ion-spinner></ion-spinner>
      </div>
      <div *ngIf="!(loading$ | async)" class="ion-text-center ion-padding-top">
        <p>Aucune localité trouvée.</p>
      </div>
    </ng-template>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" [disabled]="!(hasMore$ | async)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToAddLocality()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>