<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <!-- Permettre l'accès aux ressources locales -->
  <allow-navigation href="http://localhost:*" />
  <allow-navigation href="http://127.0.0.1:*" />
  <allow-navigation href="http://192.168.1.*" />
  <allow-navigation href="http://192.168.100.*" />
  <allow-navigation href="http://10.0.2.2:*" />
  
  <!-- Permettre les requêtes vers les APIs externes -->
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  
</widget>