<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>

<div class="container" *ngIf="reception">
  <div class="header-fixed">
    <div class="d-flex justify-content-center mb-3">
      <h1>Détails de la Réception</h1>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="card-title mb-0">Informations Générales</h5>
        <button class="btn btn-primary btn-sm" (click)="downloadPdf()">
          <mat-icon>picture_as_pdf</mat-icon>
          <span>Télécharger PDF</span>
        </button>
      </div>
      <p class="card-text"><strong>Référence:</strong> {{ reception.reference }}</p>
      <p class="card-text"><strong>Date de Réception:</strong> {{ reception.receptionDate | date: 'dd/MM/yyyy' }}</p>
      <p class="card-text"><strong>Reçu par:</strong> {{ reception.receivedBy }}</p>
      <p class="card-text"><strong>Montant Total:</strong> {{ reception.totalAmount | currency }}</p>
    </div>
  </div>

  <div class="table-container">
    <h5>Liste des Articles</h5>
    <table class="article-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Article</th>
        <th>Quantité</th>
        <th>Prix Unitaire</th>
        <th>Prix Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of reception.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.article.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unitPrice | currency }}</td>
        <td>{{ item.totalPrice | currency }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-secondary mt-3" (click)="goBack()">Retour</button>
</div>
