<div class="rm-shell" data-testid="e2e-rm-shell">
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="rm-tab-bar">
      <ion-tab-button tab="dashboard" href="/rm/dashboard" data-testid="e2e-rm-tab-dashboard">
        <ion-icon aria-hidden="true" name="alert-circle-outline"></ion-icon>
        <ion-label>Retards</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="field" href="/rm/field" data-testid="e2e-rm-tab-field">
        <ion-icon aria-hidden="true" name="navigate-outline"></ion-icon>
        <ion-label>Terrain</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="clients" href="/rm/clients" data-testid="e2e-rm-tab-clients">
        <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
        <ion-label>Clients</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="more" href="/rm/more" data-testid="e2e-rm-tab-more">
        <ion-icon aria-hidden="true" name="ellipsis-horizontal-outline"></ion-icon>
        <ion-label>Plus</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
