<ion-content class="change-password-container">
  <div class="page-wrapper">
    <div class="page-header">
      <h1>{{ forcedMode ? 'Nouveau mot de passe' : 'Changer le mot de passe' }}</h1>
      <p *ngIf="forcedMode">
        Votre administrateur a réinitialisé votre mot de passe. Définissez un mot de passe personnel
        différent du mot de passe temporaire.
      </p>
    </div>

    <ion-card>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item lines="full">
          <ion-label position="stacked">Nouveau mot de passe</ion-label>
          <ion-input
            formControlName="newPassword"
            [type]="passwordVisible ? 'text' : 'password'"
            autocomplete="new-password">
          </ion-input>
          <ion-button fill="clear" slot="end" type="button" (click)="passwordVisible = !passwordVisible">
            <ion-icon [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="stacked">Confirmer le mot de passe</ion-label>
          <ion-input
            formControlName="confirmPassword"
            [type]="confirmVisible ? 'text' : 'password'"
            autocomplete="new-password">
          </ion-input>
          <ion-button fill="clear" slot="end" type="button" (click)="confirmVisible = !confirmVisible">
            <ion-icon [name]="confirmVisible ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="form.invalid" class="btn-submit">
          Enregistrer
        </ion-button>

        <ion-button expand="block" fill="outline" type="button" (click)="onLogout()" *ngIf="forcedMode">
          Se déconnecter
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
