<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>
<div class="container">
  <div class="header-fixed">
    <div class="d-flex justify-content-center">
      <h1>Liste des articles</h1>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">

    <input
      type="text"
      placeholder="Rechercher un article..."
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      class="form-control w-50"
    />

    <div class="button-group" *ngxPermissionsOnly="['ROLE_EDIT_ARTICLE', 'ROLE_STOREKEEPER']">
      <button class="btn refresh-button btn-sm" (click)="refresh()">
        <mat-icon >refresh</mat-icon>
        <span>Rafraîchir</span>
      </button>
      <button class="btn add btn-sm" (click)="addArticle()">
        <mat-icon>add</mat-icon>
        <span >Ajouter</span>
      </button>
    </div>
  </div>


  <div class="table-container">
    <table class="article-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Marque</th>
        <th>Modèle</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articles; let i = index">
        <td>{{ (currentPage * pageSize) + (i + 1) }}</td>
        <td>{{ article.name }}</td>
        <td>{{ article.marque }}</td>
        <td>{{ article.model }}</td>
        <td>{{ article.type }}</td>

        <td>
          <button mat-icon-button matTooltip="Détails" (click)="viewDetails(article.id)">
            <mat-icon>visibility</mat-icon>
          </button>

          <button *ngIf="isGestionnaire" mat-icon-button matTooltip="Modifier" (click)="editArticle(article.id)">
            <mat-icon style="color: #003366;">edit</mat-icon>
          </button>

          <button *ngxPermissionsOnly="['ROLE_DEL_ARTICLE']"  mat-icon-button matTooltip="Supprimer" (click)="deleteArticle(article.id)">
            <mat-icon style="color: #c90a17;">delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [length]="totalElement" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
  </mat-paginator>
</div>
