<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>
<div class="container">
  <div class="header-fixed">
    <div class="d-flex justify-content-center">
      <h1>Liste des articles</h1>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">

    <input type="text" placeholder="Rechercher un article..." [(ngModel)]="searchTerm" (input)="onSearch()"
      class="form-control w-50" />

    <div class="button-group" *ngxPermissionsOnly="['ROLE_EDIT_ARTICLE', 'ROLE_STOREKEEPER']">
      <button *ngIf="selectedArticles.size > 0" class="btn btn-disable btn-sm me-2" (click)="disableSelected()">
        <mat-icon>block</mat-icon>
        <span>Désactiver ({{selectedArticles.size}})</span>
      </button>
      <button *ngIf="selectedArticles.size > 0" class="btn btn-enable btn-sm me-2" (click)="enableSelected()">
        <mat-icon>check_circle</mat-icon>
        <span>Activer ({{selectedArticles.size}})</span>
      </button>

      <button class="btn refresh-button btn-sm" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
        <span>Rafraîchir</span>
      </button>
      <button class="btn add btn-sm" (click)="addArticle()">
        <mat-icon>add</mat-icon>
        <span>Ajouter</span>
      </button>
    </div>
  </div>


  <div class="table-container">
    <table class="article-table mobile-responsive">
      <thead>
        <tr>
          <th>
            <mat-checkbox (change)="toggleAllSelection()" [checked]="isAllSelected"
              [indeterminate]="selectedArticles.size > 0 && !isAllSelected">
            </mat-checkbox>
          </th>
          <th>#</th>
          <th>Nom</th>
          <th>Marque</th>
          <th>Modèle</th>
          <th>Type</th>
          <th>Statut</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles; let i = index">
          <td data-label="Sélectionner">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="toggleSelection(article)"
              [checked]="selectedArticles.has(article.id)">
            </mat-checkbox>
          </td>
          <td data-label="#">{{ (currentPage * pageSize) + (i + 1) }}</td>
          <td data-label="Nom">{{ article.name }}</td>
          <td data-label="Marque">{{ article.marque }}</td>
          <td data-label="Modèle">{{ article.model }}</td>
          <td data-label="Type">{{ article.type }}</td>
          <td data-label="Statut">
            <span class="badge"
              [ngClass]="{'badge-enabled': article.status === 'ENABLED', 'badge-disabled': article.status === 'DISABLED', 'badge-deleted': article.status === 'DELETED'}">
              {{ article.status === 'ENABLED' ? 'Actif' : (article.status === 'DISABLED' ? 'Désactivé' : 'Supprimé') }}
            </span>
          </td>

          <td data-label="Action">
            <button mat-icon-button matTooltip="Détails" (click)="viewDetails(article.id)">
              <mat-icon>visibility</mat-icon>
            </button>

            <button *ngIf="isGestionnaire" mat-icon-button matTooltip="Modifier" (click)="editArticle(article.id)">
              <mat-icon style="color: #003366;">edit</mat-icon>
            </button>

            <button *ngIf="isGestionnaire" mat-icon-button
              [matTooltip]="article.status === 'ENABLED' ? 'Désactiver' : 'Activer'" (click)="toggleState(article)">
              <mat-icon [style.color]="article.status === 'ENABLED' ? '#dc3545' : '#198754'">{{ article.status ===
                'ENABLED' ? 'block' : 'check_circle' }}</mat-icon>
            </button>

            <button *ngxPermissionsOnly="['ROLE_DEL_ARTICLE']" mat-icon-button matTooltip="Supprimer"
              (click)="deleteArticle(article.id)">
              <mat-icon style="color: #c90a17;">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [length]="totalElement" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>