<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Tableau de Bord</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clients" href="/tabs/clients">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Clients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="distributions" href="/tabs/distributions">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Distributions</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="orders" href="/tabs/orders">-->
<!--      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>-->
<!--      <ion-label>Commandes</ion-label>-->
<!--    </ion-tab-button>-->

    <ion-tab-button tab="more" href="/tabs/more">
      <ion-icon aria-hidden="true" name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Plus</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
